::placeholder::first-letter {
  text-transform: capitalize;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container {
  max-height: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 50px;
  overflow-y: auto;
}

.user-name {
  text-transform: capitalize;
}

.app-container button {
  text-transform: inherit;
  font-size: 1.2rem;
}
